$base-font-color: #1f1d1d;

/* Breakpoints
========================================================================== */
$laptop: 1620px;
$laptop_s: 1280px;
$tablet: 1200px;
$tablet_m: 980px;
$mobile: 670px;
$mobile_s: 480px;
$mobile_t: 370px;
$max-breakpoint: 1920px;
